[Desktop Entry]
Name=Teams
Type=Application
Exec=HOME/Teams/Teams-linux-arch/Teams
Icon=HOME/Teams/teamslogo.png
Categories=Network;Internet;Communication
